#information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: left;
    width: 80%;
    border-radius: 10px;
}

.info-card {
    display: flex;
    justify-content: center;
    align-items: center;

    justify-content: start;
    gap: 1rem;
    padding-bottom: .8rem;
    margin-bottom: .8rem;
    border-bottom: 1px solid #444;
    width: 100%;
}

.info-card h3 {
    color: #ccc; font-size: .8rem; margin-bottom: .5rem;
}

.info-card p {
    color: #fff;
    font-weight: bold;
}

.info-card svg {
    color: #fff;
    padding: 0.4rem;
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
           
}

